<h1>Your Messages</h1>

<h2>Received Messages</h2>
<ul>
  <% @received_messages.each do |message| %>
    <li>
      <strong>From:</strong> <%= message.sender.name %> <br>
      <strong>Message:</strong> <%= message.body %>
    </li>
  <% end %>
</ul>

<h2>Sent Messages</h2>
<ul>
  <% @sent_messages.each do |message| %>
    <li>
      <strong>To:</strong> <%= message.receiver.name %> <br>
      <strong>Message:</strong> <%= message.body %>
    </li>
  <% end %>
</ul>

<%= link_to "Send a Message!", new_message_path %>
