<h1>New Message</h1>

<%= form_for(@message) do |f| %>
  <div class="field">
    <%= f.label :receiver_id, 'To' %><br>
      <% User.all.each do |user| %>
          <%= f.radio_button :receiver_id, user.id %>
          <%= user.email %>
      <% end %>
  </div>
  <div class="w-50 my-2">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'Send Message', class: 'btn btn-primary' %>
  </div>
<% end %>
