

<% unless comment.parent_id || !comment.persisted? %>

  <div class="p-2">
    <div class="my-2 p-3 bg-light">
      <strong><%= comment.user.name %></strong> : <%= comment.body %>
      <div class="mb-3">
      <% if current_user %>
      
       <% if current_user.admin? %>
        <%= button_to 'Delete', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %> |
        <% end %>
     <%= link_to 'reply', '#', class: 'comment-reply-form', remote: true, onclick: 'showNextSibling(event, this); return false;' %>
      <div style="display: none;">
        <%= render 'comments/reply_form', parent_id: comment.id %>
      </div>
      </div>

        <div class= "ps-3">
          <% if comment.replies.any? %>
            <% comment.replies.each do |reply| %> 
            <%= render 'comments/reply', reply: reply %> <br>
            <% end %>
          <% end %>
            
          <% end %>
        </div>  
    </div>
</div>
<% end %>