<div><strong><%= reply.user.name %></strong> : <%= reply.body %></div>
 


<%= link_to 'reply', '#', class: 'comment-reply-form', remote: true, onclick: 'showNextSibling(event, this); return false;' %> 
<% if current_user.admin? %>
    <%= button_to 'delete', [reply.post, reply], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %> 
    <% end %>
<div style="display: none;">
  <%= render 'comments/reply_form', parent_id: reply.id %>
</div>

<div class= "ps-3">
  <% if reply.replies.any? %>
    <% reply.replies.each do |reply| %> 
  <%= render 'comments/reply', reply: reply %> 
 <br>
    <% end %>
  <% end %>
  </div>