<div>
  <div>
    <%= form_with(model: [@post, @comment]) do |f| %>
  
      <%= f.hidden_field :parent_id, value: parent_id %>
  
      <div class="form-group">
       
        <%= f.text_area :body, class: 'form-control' %>
      </div>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', @post, class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div> 
