<!-- Display Post Content -->
<h1 class="text-center"><%= @post.title %></h1>
<p class="text-center"><%= @post.description %></p>
<p class="text-center">Blog by: <strong><%= @post.user.email %></strong></p>
<h3 class="fw-bold">Comments</h3>
<%= render 'comments/form' %>
<%= render @comments %>
<% if current_user && (current_user.admin || @post.user == current_user) %>
<div> 
  <%= link_to "Edit Blog Post", edit_post_path(@post), class: 'btn btn-primary' %>
  <%= link_to "Delete Blog Post", post_path(@post), data: {
                                                    turbo_method: :delete,
                                                    turbo_confirm: "Are you sure?"}, class: 'btn btn-primary' %>
</div>
<% end %>

<script>

// document.querySelectorAll('.comment-reply-form').forEach((el) => {
//     el.addEventListener('click', (ev) => {
//         ev.preventDefault();
//         el.nextElementSibling.style = 'display: block;'
//     })
// })
function showNextSibling(event, element) {
    event.preventDefault();
    element.nextElementSibling.style.display = 'block';
}



</script>

