<!-- Display Post Content -->
<h1 class="text-center"><%= @post.title %></h1>
<p class="text-center"><%= @post.description %></p>
<p class="text-center">Blog by: <strong><%= @post.user.email %></strong></p>

<%= render 'comments/form' %>
<%= render @comments %>
<% if @post.user_id == current_user.id || current_user.admin? %>
<div> 
  <p><%= link_to "Edit Blog Post", edit_post_path(@post), class: 'btn btn-primary' %>
  <%= link_to "Delete Blog Post", @post, data:{
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"}, class: 'btn btn-primary' %></p>
</div>
<% end %>



